# PANDAS

In [28]:
import pandas as pd
import yaml
from yaml import loader, Loader

In [29]:
empl_doc = open("employees.yaml","r")
data = yaml.load(empl_doc,Loader=Loader)

In [30]:
df = pd.DataFrame(data).T
df

                name fte      trained_for pref streak_pref
Josh            Josh   5  [MI, 7C, 7P, S]    S           3
Brittanie  Brittanie   8  [MI, 7C, 7P, S]   7P           8
Trisha        Trisha   8             [7P]   7P           5
Brianna      Brianna   8          [7P, S]   7P           4

In [31]:
out = []
for tf in df.trained_for:
   for shift in tf:
      if shift not in out:
         out.append(shift)
uniqueShifts = out

In [32]:
mi = ["MI" in df['trained_for'][x] for x in range(len(df['trained_for']))]
df['mi'] = mi
df

                name fte      trained_for pref streak_pref     mi
Josh            Josh   5  [MI, 7C, 7P, S]    S           3   True
Brittanie  Brittanie   8  [MI, 7C, 7P, S]   7P           8   True
Trisha        Trisha   8             [7P]   7P           5  False
Brianna      Brianna   8          [7P, S]   7P           4  False

In [64]:
def empl_trained_for (empl:str,shift:str) -> bool:
   """CHECKS IF EMPLOYEE IS TRAINED FOR SHIFT

   Args:
       empl (str): employee id by name
       shift (str): shift id by name
   Returns:
       >>> bool: True if employee can work shift
             False if employee cannot
   """
   a = shift in df.loc[empl]['trained_for']
   return a

In [65]:
empl_trained_for ("Josh", "EI")
empl_trained_for ("Josh", "S")

True

# DATETIME

In [35]:
import datetime as dt
import timedelta

In [36]:
d1 = dt.date(2022,3,8)
days = [d1 + dt.timedelta(days=x) for x in range(100)]
max(days)

datetime.date(2022, 6, 15)

In [37]:
empl_list = list(data.keys())
empl_list

['Josh', 'Brittanie', 'Trisha', 'Brianna']

In [38]:
df_sched = pd.DataFrame(columns=days,index=empl_list)
df_sched

,2022-03-08,2022-03-09,2022-03-10,2022-03-11,2022-03-12,2022-03-13,2022-03-14,2022-03-15,2022-03-16,2022-03-17,...,2022-06-06,2022-06-07,2022-06-08,2022-06-09,2022-06-10,2022-06-11,2022-06-12,2022-06-13,2022-06-14,2022-06-15
Josh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brittanie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Trisha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brianna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
weekdaydata = [x.weekday() for x in df_sched.columns]
weekdaydata = pd.Series(weekdaydata, index=list(df_sched))
weekdaydata

2022-03-08    1
2022-03-09    2
2022-03-10    3
2022-03-11    4
2022-03-12    5
             ..
2022-06-11    5
2022-06-12    6
2022-06-13    0
2022-06-14    1
2022-06-15    2
Length: 100, dtype: int64

In [59]:
count = 0
weekno = []
for x in weekdaydata:
   if x == 0:
      count +=1
   weekno.append(count)
weekno = pd.Series(weekno,index=list(df_sched))
weekno

2022-03-08     0
2022-03-09     0
2022-03-10     0
2022-03-11     0
2022-03-12     0
              ..
2022-06-11    13
2022-06-12    13
2022-06-13    14
2022-06-14    14
2022-06-15    14
Length: 100, dtype: int64