# PANDAS

In [1]:
import pandas as pd
import yaml
from yaml import loader, Loader

In [2]:
empl_doc = open("employees.yaml","r")
data = yaml.load(empl_doc,Loader=Loader)

In [3]:
df = pd.DataFrame(data).T
df

                name fte              trained_for pref streak_pref weekend
Josh            Josh   5          [MI, 7C, 7P, S]    S           3       2
Brittanie  Brittanie   8                      [3]   7P           8       2
Danica        Danica   8  [MI, 7C, 7P, S, EI, EP]   MI           8       1
Trisha        Trisha   8                     [7P]   7P           5       1
Brianna      Brianna   8                     [7P]   7P           4       2
Mona            Mona   7                      [3]    3           7       2
Thelassa    Thelassa  10                     [OP]   OP           5       0
Michael      Michael   7                      [N]    N           7       1
Amanda        Amanda   7                      [N]    N           7       2

In [17]:
def getAllShifts ():
   out = []
   for tf in df.trained_for:
      for shift in tf:
         if shift not in out:
            out.append (shift)
   print ("ALL SHIFTS:")
   return out

shifts = getAllShifts()
print (len(shifts),":" ,shifts)

ALL SHIFTS:
9 : ['MI', '7C', '7P', 'S', 3, 'EI', 'EP', 'OP', 'N']

In [45]:
mi = ["MI" in df['trained_for'][x] for x in range(len(df['trained_for']))]
df['mi'] = mi
print("TRAINED FOR MI")
df[df['mi']]

TRAINED FOR MI

          name fte              trained_for pref streak_pref weekend    mi
Josh      Josh   5          [MI, 7C, 7P, S]    S           3       2  True
Danica  Danica   8  [MI, 7C, 7P, S, EI, EP]   MI           8       1  True

### Employee Training Report

In [20]:
def empl_trained_for (empl:str,shift:str) -> bool:
   """ [function]
   CHECKS IF EMPLOYEE IS TRAINED FOR SHIFT

        Args:
            empl (str): employee id by name
            shift (str): shift id by name
        Returns:
            >>> bool: True if employee can work shift
                      False if employee cannot
   """
   a = shift in df.loc[empl]['trained_for']
   return a

In [39]:
def empl_training_report (empl) :
   dic = {}
   for s in getAllShifts():
      result = empl_trained_for(empl, s)
      dic.update({s : result})
   ##--[ Calc % of Shifts Can Work ]--##
   count = 0
   for val in dic.values():
      if val == True:
         count += 1
   percent = round(count/len(dic)*100,0)
   ##--[ Display as DF ]--##   
   df = pd.DataFrame(dic.values(),columns =[empl],index=dic.keys())
   print (percent,"%")   
   return df

In [40]:
empl_training_report ("Josh")

ALL SHIFTS:
44.0 %

     Josh
MI   True
7C   True
7P   True
S    True
3   False
EI  False
EP  False
OP  False
N   False

# DATETIME

In [47]:
import datetime as dt
import timedelta

In [56]:
d1 = dt.date(2022,3,8)
days = [d1 + dt.timedelta(days=x) for x in range(100)]
fmt = []
for x in days:
   i = x.ctime()
   fmt.append(str(i)[0:10])
print(fmt)

['Tue Mar  8', 'Wed Mar  9', 'Thu Mar 10', 'Fri Mar 11', 'Sat Mar 12', 'Sun Mar 13', 'Mon Mar 14', 'Tue Mar 15', 'Wed Mar 16', 'Thu Mar 17', 'Fri Mar 18', 'Sat Mar 19', 'Sun Mar 20', 'Mon Mar 21', 'Tue Mar 22', 'Wed Mar 23', 'Thu Mar 24', 'Fri Mar 25', 'Sat Mar 26', 'Sun Mar 27', 'Mon Mar 28', 'Tue Mar 29', 'Wed Mar 30', 'Thu Mar 31', 'Fri Apr  1', 'Sat Apr  2', 'Sun Apr  3', 'Mon Apr  4', 'Tue Apr  5', 'Wed Apr  6', 'Thu Apr  7', 'Fri Apr  8', 'Sat Apr  9', 'Sun Apr 10', 'Mon Apr 11', 'Tue Apr 12', 'Wed Apr 13', 'Thu Apr 14', 'Fri Apr 15', 'Sat Apr 16', 'Sun Apr 17', 'Mon Apr 18', 'Tue Apr 19', 'Wed Apr 20', 'Thu Apr 21', 'Fri Apr 22', 'Sat Apr 23', 'Sun Apr 24', 'Mon Apr 25', 'Tue Apr 26', 'Wed Apr 27', 'Thu Apr 28', 'Fri Apr 29', 'Sat Apr 30', 'Sun May  1', 'Mon May  2', 'Tue May  3', 'Wed May  4', 'Thu May  5', 'Fri May  6', 'Sat May  7', 'Sun May  8', 'Mon May  9', 'Tue May 10', 'Wed May 11', 'Thu May 12', 'Fri May 13', 'Sat May 14', 'Sun May 15', 'Mon May 16', 'Tue May 17', 'Wed May 18', 'Thu May 19', 'Fri May 20', 'Sat May 21', 'Sun May 22', 'Mon May 23', 'Tue May 24', 'Wed May 25', 'Thu May 26', 'Fri May 27', 'Sat May 28', 'Sun May 29', 'Mon May 30', 'Tue May 31', 'Wed Jun  1', 'Thu Jun  2', 'Fri Jun  3', 'Sat Jun  4', 'Sun Jun  5', 'Mon Jun  6', 'Tue Jun  7', 'Wed Jun  8', 'Thu Jun  9', 'Fri Jun 10', 'Sat Jun 11', 'Sun Jun 12', 'Mon Jun 13', 'Tue Jun 14', 'Wed Jun 15']

In [61]:
empl_list = list(data.keys())
empl_list

['Josh',
 'Brittanie',
 'Danica',
 'Trisha',
 'Brianna',
 'Mona',
 'Thelassa',
 'Michael',
 'Amanda']

In [62]:
df_sched = pd.DataFrame(columns=days,index=empl_list)
df_sched

,2022-03-08,2022-03-09,2022-03-10,2022-03-11,2022-03-12,2022-03-13,2022-03-14,2022-03-15,2022-03-16,2022-03-17,...,2022-06-06,2022-06-07,2022-06-08,2022-06-09,2022-06-10,2022-06-11,2022-06-12,2022-06-13,2022-06-14,2022-06-15
Josh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brittanie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Danica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Trisha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brianna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Thelassa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Michael,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amanda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
weekdaydata = [x.weekday() for x in df_sched.columns]
weekdaydata = pd.Series(weekdaydata, index=list(df_sched))
weekdaydata

2022-03-08    1
2022-03-09    2
2022-03-10    3
2022-03-11    4
2022-03-12    5
             ..
2022-06-11    5
2022-06-12    6
2022-06-13    0
2022-06-14    1
2022-06-15    2
Length: 100, dtype: int64

In [103]:
def generate_weeknumber (list_of_dates):
   count = 0
   weekno = []
   for x in list_of_dates:
      if x == 0:
         count +=1
      weekno.append(count)
   weekno = pd.Series(weekno,index=list(df_sched))

   return weekno

In [104]:
generate_weeknumber(weekdaydata)

2022-03-08     0
2022-03-09     0
2022-03-10     0
2022-03-11     0
2022-03-12     0
              ..
2022-06-11    13
2022-06-12    13
2022-06-13    14
2022-06-14    14
2022-06-15    14
Length: 100, dtype: int64